@media screen and (max-width: 1150px) {
    nav {
        flex-direction: column;
    }
    .logo{
        position: relative;
        top: 10px;
    }
    .search{
        position: relative;
        bottom: 10px;
    }
    .buttons{
        position: absolute;
        right: 10px;
        top: 10px;
    }
  }